{
  "root": true,
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
    "no-void": ["error", { "allowAsStatement": true }],
    "import/prefer-default-export": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks"
        }
      }
    }
  }
}
